<h1>List of all CeleBnB properties</h1>
<br>
<ul>
  <% @properties.each do |property| %>
    <li> <%= property['name'] %> - <%= property['description'] %> - <%= property['price'] %>
      <form action="/properties/<%=property["id"]%>" method="post">
        <input id="<%=property["id"]%>" type="submit" value="book">
      </form>
    </li>
  <% end %>
</ul>

