<h1>List of all CeleBnB properties</h1>
<br>

<form action='/properties/new' method='get'> 
  <button type='submit'>Add a Property</button>
</form>

<h2>Where are you heading to next, <%= @signed_in_user %>?</h2>

<ul>
  <% @properties.each do |property| %>
    <li> <%= property['name'] %> - <%= property['description'] %> - <%= property['price'] %>
      <form action="/properties/<%=property["id"]%>" method="post">
        <input id="<%=property["id"]%>" type="submit" value="book">
      </form>
    </li>
  <% end %>
</ul>

